# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild*/
[Ll]ogs/
UserSettings/
MemoryCaptures/
Packages/PackageCache/
ProjectSettings/AudioManager.asset.meta

# IDE
.vs/
.idea/
*.csproj
*.sln
*.user
*.pidb

# OS
.DS_Store
Thumbs.db
